<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Practice</title>
</head>
<body>
    <h1>Thymeleaf Practice 1</h1>
    <div>
        상품 : <span th:text="${item.itemNm}">상품</span>
    </div>

    <div>
        상품 상세 설명 : <span th:text="${item.itemDetail}">상품</span>
    </div>

    <div>
        가격 : <span th:text="${item.price}">상품</span>
    </div>

    <div>
        재고 수량 : <span th:text="${item.stockNumber}">상품</span>
    </div>

    <div>

        <a th:href="@{/templates/myResume/thymeleaf2(name='홍길동', age=15)}">Move to Thymeleaf 2</a>
    </div>
</body>
</html>